h1,td{
    text-align: center;
    font-weight: bolder;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
}
#sub1{
    color: gray;
}
#sub2{
    color: orange;
}
#sub3{
    color: purple;
}
#sub4{
    color: green;
}
#sub5{
    color: red;
}